/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

:root {
    --dimensions: clamp(10rem, 100%, 30rem);
    --primary-colour: rgb(28, 0, 28);
    --primary-colour-hover: rgb(49, 2, 49);
    --secondary-colour: rgb(192, 169, 192);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    height: 100dvh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-colour);
    width: 100dvw;
}

#board {
    width: var(--dimensions);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(3.75rem, 1fr));
    grid-template-rows: repeat(3, minmax(3.75rem, 1fr));
    gap: 5px;
    background-color: white;
    border: none;
}

.cell {
    min-width: 100%;
    background-color: var(--primary-colour);
    color: white;
    font-size: clamp(2.5rem, 1.0588rem + 2.3529vw, 4rem);
    text-align: center;
    align-content: center;
}

.stroke-circle,
.stroke-line {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    stroke: white;
    stroke-width: 0.2rem;
    fill: none;
    animation-name: strokeAni;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.stroke-circle {
    animation-duration: 800ms;
    stroke-linecap: square;
}

.stroke-line {
    animation-duration: 500ms;
}

.stroke-delayed {
    animation-delay: 300ms;
}

@keyframes strokeAni {
    to {
        stroke-dashoffset: 0;
    }
}

#scoreboard {
    color: white;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    max-width: 70%;
}

.score-title {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.count {
    text-align: center;
}

.unclickable {
    pointer-events: none;
    opacity: 0.6;
    transition: opacity 150ms;
}

#win-dialog {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-colour);
    border: none;
}

::backdrop {
    background-color: var(--primary-colour);
    opacity: 0.75;
}

#dialog-close-button {
    width: 100%;
    margin-top: 1.5rem;
    border: none;
    background-color: var(--primary-colour);
    color: white;
    padding: 1rem;
    transition: background-color 200ms, color 200ms;
    outline: none;
}

#dialog-close-button:hover {
    background-color: var(--primary-colour-hover);
    cursor: pointer;
}